.omz
bin/nvim
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/dashboard
nvim/luac
tldr/*
zsh_manual/*
lazygit/*
miniforge-pypy3
p10k*
matplotlib
autojump
pip
.zcom*
gitstatus
YAPF
zsh/compcache
github-copilot/hosts.json
state.yml
zsh-5.9
.zsh_history
jedi
conda/notices
